Web References/RefWeb/ServiceWebHotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tp.umontpellier.fr/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tp.umontpellier.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tp.umontpellier.fr/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotels">
        <s:complexType />
      </s:element>
      <s:element name="GetHotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotelsResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdHotel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nomHotel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nombreChambre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nombreLit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="lieuDit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idCategorie" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReservations">
        <s:complexType />
      </s:element>
      <s:element name="GetReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReservationsResult" type="tns:ArrayOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdReservation" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdClient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrixReservation" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdChambre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateDebut" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateFin" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAdresses">
        <s:complexType />
      </s:element>
      <s:element name="GetAdressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdressesResult" type="tns:ArrayOfAdresse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdresse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Adresse" nillable="true" type="tns:Adresse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Adresse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAdresse" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rue" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pays" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ville" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdHotel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Gps" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClients">
        <s:complexType />
      </s:element>
      <s:element name="GetClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdClient" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrenomClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfosPayement" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult" type="tns:ArrayOfCategorie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategorie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Categorie" nillable="true" type="tns:Categorie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Categorie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCategorie" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NombreEtoile" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomCategorie" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChambres">
        <s:complexType />
      </s:element>
      <s:element name="GetChambresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChambresResult" type="tns:ArrayOfChambre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChambre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chambre" nillable="true" type="tns:Chambre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chambre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdChambre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Prix" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NombreDeLiet" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstLibre" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdHotel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomHotel" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateArrivee" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateDebu" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="prixMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prixMax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreEtoile" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nombrePersonne" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchHotelResult" type="tns:ResponseOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Responses" type="tns:ArrayOfHotel" />
          <s:element minOccurs="0" maxOccurs="1" name="adresses" type="tns:ArrayOfAdresse" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetHotelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="GetHotelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="GetReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdresses" />
  </wsdl:message>
  <wsdl:message name="GetAdressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetChambresSoapIn">
    <wsdl:part name="parameters" element="tns:GetChambres" />
  </wsdl:message>
  <wsdl:message name="GetChambresSoapOut">
    <wsdl:part name="parameters" element="tns:GetChambresResponse" />
  </wsdl:message>
  <wsdl:message name="SearchHotelSoapIn">
    <wsdl:part name="parameters" element="tns:SearchHotel" />
  </wsdl:message>
  <wsdl:message name="SearchHotelSoapOut">
    <wsdl:part name="parameters" element="tns:SearchHotelResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceWebHotelSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <wsdl:input message="tns:GetHotelsSoapIn" />
      <wsdl:output message="tns:GetHotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input message="tns:GetReservationsSoapIn" />
      <wsdl:output message="tns:GetReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdresses">
      <wsdl:input message="tns:GetAdressesSoapIn" />
      <wsdl:output message="tns:GetAdressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input message="tns:GetClientsSoapIn" />
      <wsdl:output message="tns:GetClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChambres">
      <wsdl:input message="tns:GetChambresSoapIn" />
      <wsdl:output message="tns:GetChambresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchHotel">
      <wsdl:input message="tns:SearchHotelSoapIn" />
      <wsdl:output message="tns:SearchHotelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceWebHotelSoap" type="tns:ServiceWebHotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tp.umontpellier.fr/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdresses">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetAdresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChambres">
      <soap:operation soapAction="http://tp.umontpellier.fr/GetChambres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchHotel">
      <soap:operation soapAction="http://tp.umontpellier.fr/SearchHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceWebHotelSoap12" type="tns:ServiceWebHotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tp.umontpellier.fr/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetHotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdresses">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetAdresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChambres">
      <soap12:operation soapAction="http://tp.umontpellier.fr/GetChambres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchHotel">
      <soap12:operation soapAction="http://tp.umontpellier.fr/SearchHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWebHotel">
    <wsdl:port name="ServiceWebHotelSoap" binding="tns:ServiceWebHotelSoap">
      <soap:address location="https://localhost:44386/ServiceWebHotel.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceWebHotelSoap12" binding="tns:ServiceWebHotelSoap12">
      <soap12:address location="https://localhost:44386/ServiceWebHotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>